<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alcore.voiceapp">

    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.alcore.voiceapp.Database.Custom"
        android:theme="@style/Theme.VoiceApp">
        <meta-data android:name="DATABASE" android:value="voiceapp.db" />
        <meta-data android:name="VERSION" android:value="4" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.alcore.voiceapp" />
        <activity android:name=".activities.EventScreen"></activity>
        <activity android:name=".activities.NewTaskScreen"></activity>
        <activity android:name=".activities.NewEventScreen"/>
        <activity android:name=".activities.TaskScreen" />
        <activity android:name=".activities.ItemScreen" />
        <activity android:name=".activities.ProductScreen" />
        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainMenu" />

    </application>

</manifest>